/*Sets the cards and references in the center and in a column so that the footer is at the bottom of the page*/
body{
    padding:0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /*Sets up the background with an image, centers the image, and scales it down as the browser shrinks*/
    background-image: url("./images/Nebula-Space-Wallpaper.jpg");
    background-attachment: fixed;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

}
/*Centers the text info and adds some space on the edges*/
.space-info{
    display: block;
    text-align: center;
    width: 30vw;
}
/*Hides the alternative text*/
.space-info-cond{
    display: none;

}
/*Creates my card design and centers all the info. Rounds the edges and adds a shadow to create an illusion of levitating*/
.card-style{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    height:55vh;   
    width: 35vw;
    border:solid black 3px;
    border-radius: 10%;
    box-shadow: 7px 7px 2px 0px rgba(0, 0, 0, 0.75);
    background-color: rgb(163, 191, 215); 
    overflow: hidden;
    text-align: center;
    /*Sets the minimum width the cards are allowed to shrink as the browser shrinks*/
    min-width: 150px;
    min-height:250px;

}
/*Centers the 2 cards in the center on the main and cross axis */
.info-login-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:90vh;
    width:100vw;
}
/*Turns the mouse arrow into a pointer finger only when hovering over both the button and input areas*/
button, input{
    cursor: pointer;
    overflow: hidden;
    min-height: 15px; 
}
/*Centers the placeholder text and sets the width of the input bubble*/
input{
    width:200px;
    min-width:150px;
    text-align: center;
}
/*Makes it easier to see when ur hovering over the username and password input areas*/
input:hover{
    background-color: rgb(173, 173, 173);
}
/*Sets the width for only the login button and set the background color to purple when the cursor is hovering over it*/
.login-button{
    width:150px;
}
.login-button:hover{
    background-color: rgb(167, 94, 236);
}
/*Centers the reference info on the bottom*/
.footer{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    align-items:center;
    color: beige;
    overflow: hidden;
}
/*Changes the color for the link only in the footer*/
.footer a{
    color:blue;

}
/*Changes the color to gray when the cursor hovers over the Artemis link*/
a:hover{
    color: gray;
}
/*Rounds out the sides of the input and button to give it a modern look*/
input, button{
    border-radius: 15px;
}
/*Changes the background color when the cursor hovers over the button*/
button:hover{
    background-color: rgb(32, 155, 232);
}
/*Changes the orientation of the cards to stack once the px are equal to or lower than 925px and switches the text in the p element to a shorter version*/
@media screen and (max-width: 925px) {
    .info-login-card{
        flex-direction: column;
    }
    .card-style{
        height: 40vh;
        width: 65vw;
    }
    .space-info{
        display: none;
    }
    .space-info-cond{
        display: block;
    }
} 
/*Removes the h1 title in the cards and the reference for the image to add more space when the browser shrinks. Makes the login card easier to access and the info card easier to read.*/
@media screen and (max-width: 500px){
    h1, .img-credit {
        display: none;  
      }

}